[Unit]
Description=Like REDIS server
After=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/like_redis/like_redis_run.sh
Restart=always
RestartSec=1
WorkingDirectory=/opt/like_redis

[Install]
WantedBy=multy-user.target
